---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++03
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: Never
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
...
